<div class="col-sm-2 col-sm-offset-3 col-md-3 col-md-offset-2 main">

  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

  <form class="form-signin" name="form">
    <h2 class="form-signin-heading">修改密码</h2>
    <label for="oldPassword" class="sr-only">老密码</label>
    <input type="password" id="oldPassword" class="form-control" placeholder="老密码"  ng-model="oldPassword" required autofocus>
    <label for="newPassword" class="sr-only">新密码</label>
    <input type="password" id="newPassword" class="form-control" placeholder="新密码" ng-model="newPassword" required>
    <label for="newPasswordConfirm" class="sr-only">再次新密码</label>
    <input type="password" id="newPasswordConfirm" class="form-control" placeholder="再次新密码" ng-model="newPasswordConfirm" required>

    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    -->
    <button class="btn btn-lg btn-primary btn-block" ng-click="doChange(form.$valid);">修改密码</button>
  </form>


</div>
