<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="" ng-click="tabClick('grid')" data-toggle="tab">配对列表</a></li>
      <li><a href="" ng-click="tabClick('edit')" data-toggle="tab">配对编辑</a></li>
    </ul>
    <br>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane" ng-class="{active:tabTitle=='grid'}" id="grid">
        <form action="" class="form-horizontal" role="searchForm" name="searchForm">
          <fieldset>
            <div class="form-group">
              <label for="query" class="col-md-2 control-label">查询</label>

              <div class="input-group date eventTitle col-md-6">
                <input class="form-control" size="16" type="text" ng-model="query" id="query" required/>
              </div>
            </div>
          </fieldset>
        </form>

        <div class="table-responsive">
          <table st-table="displayedCollection" st-safe-src="matches" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th st-sort="matchDate">配对日期</th>
              <th st-sort="personName">姓名</th>
              <th st-sort="gender">性别</th>
              <th st-sort="serviceEmployeeName">服务老师</th>
              <th st-sort="matchPersonName">配对对象</th>
              <th st-sort="visitResult">回访结果</th>
              <th st-sort="visitRemark">回访情况说明</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in displayedCollection  | filter:query | filter:{aliveFlag:'1'}">
              <td><input type="checkbox" value="{{person}}" ng-click="toggleSelection(match)"></td>
              <td>{{match.matchDate}}</td>
              <td>{{match.personName}}</td>
              <td>{{match.gender}}</td>
              <td>{{match.serviceEmployeeName}}</td>
              <td>{{match.matchPersonName}}</td>
              <td>{{match.visitResult}}</td>
              <td>{{match.visitRemark}}</td>
              <td>
                <div class="controls">
                  <button class="btn btn-primary" ng-click="modRecord(match);">修改</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
          <div class="controls">
            <button class="btn btn-primary" ng-show="showAddButton" ng-click="newRecord();">新增</button>
            <button class="btn btn-primary" ng-click="doDelete()">删除</button>
          </div>
        </div>
      </div>
      <div class="tab-pane" ng-class="{active:tabTitle=='edit'}" id="edit">
        <div class="form-horizontal">
          <form action="" class="form-horizontal" role="form" name="form">
            <div class="modal-body">
              <fieldset>
                <!--first row-->
                <div class="form-group">
                  <label for="matchDate" class="col-md-1 control-label">配对日期</label>

                  <div class="col-md-4" data-date="" data-link-field="dtp_start"
                       id="dtp_start">
                    <div class="dropdown">
                      <a class="dropdown-toggle" id="matchDate" role="button" data-toggle="dropdown" data-target="#"
                         href="">
                        <div class="input-group">
                          <input type="text" name="matchDate" class="form-control"
                                 data-ng-model="selectedMatch.matchDate" ng-change="changeMatchDate()" readonly
                                 required/>
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="selectedMatch.matchDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#matchDate',startView:'year',minView:'day' }"
                                        data-on-set-time="onMatchDateSet(newDate)"/>
                      </ul>
                    </div>
                    <div class="alert alert-danger" ng-show="btnSaveClicked && form.matchDate.$error.required">请选择配对日期
                    </div>
                  </div>


                  <label for="personInfo" class="col-md-1 control-label">姓名</label>

                  <div class="col-md-5">
                    <ui-select ng-model="person.selected" ng-disabled="getMatchNameDisable()" name="personInfo"
                               id="personInfo"
                               required>
                      <ui-select-match placeholder="请选择人员">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices
                        repeat="person in persons | propsFilter: {name: $select.search, gender: $select.search,constellation:$select.search,startDate:$select.search,endDate:$select.search}  | filter:{aliveFlag:'1'} | dateFilter:selectedMatch.matchDate:'startDate':'endDate'">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
                          <span
                            ng-bind-html="''+person.gender+' '+person.constellation | highlight: $select.search"></span>
                          已配对:<span ng-bind-html="''+person.matchTimes+'次' | highlight: $select.search"></span>
                          合同日期: <span
                          ng-bind-html="''+person.startDate+'至'+person.endDate | highlight: $select.search"></span>
                        </small>
                      </ui-select-choices>
                    </ui-select>
                    <div class="alert alert-danger" ng-show="btnSaveClicked && form.personInfo.$error.required">请选择人员
                    </div>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-primary" data-toggle="modal" ng-disabled="getMatchNameDisable()"   ng-click="searchPerson()">查找</a>
                  </div>
                </div>
                <!--seconde row-->
                <div class="form-group">
                  <label for="serviceEmployee" class="col-md-1 control-label">服务老师</label>

                  <div class="col-md-4">
                    <ui-select ng-model="serviceEmployee.selected" name="serviceEmployee"
                               id="serviceEmployee"
                               required>
                      <ui-select-match placeholder="请选择人员">{{$select.selected.staff}}</ui-select-match>
                      <ui-select-choices
                        repeat="serviceEmployee in serviceEmployees | propsFilter: {staff: $select.search}">
                        <div ng-bind-html="serviceEmployee.staff | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                    <div class="alert alert-danger" ng-show="btnSaveClicked && form.serviceEmployee.$error.required">
                      请选择买单老师
                    </div>

                  </div>

                  <label for="matchPerson" class="col-md-1 control-label">配对对象</label>

                  <div class="col-md-5">

                    <ui-select ng-model="matchPerson.selected" ng-disabled="getMatchObjectDisable()" name="matchPerson"
                               id="matchPerson"
                               required>
                      <ui-select-match placeholder="请选择人员">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices
                        repeat="matchPerson in persons | propsFilter: {name: $select.search, gender: $select.search,constellation:$select.search,startDate:$select.search,endDate:$select.search}  | filter:{aliveFlag:'1',gender:'!' + person.selected.gender } | dateFilter:selectedMatch.matchDate:'startDate':'endDate' ">
                        <div ng-bind-html="matchPerson.name | highlight: $select.search"></div>
                        <small>
                          <span
                            ng-bind-html="''+matchPerson.gender+' '+matchPerson.constellation | highlight: $select.search"></span>
                          已配对:<span ng-bind-html="''+matchPerson.matchTimes+'次' | highlight: $select.search"></span>
                          合同日期: <span
                          ng-bind-html="''+matchPerson.startDate+'至'+matchPerson.endDate | highlight: $select.search"></span>
                        </small>
                      </ui-select-choices>
                    </ui-select>
                    <div class="alert alert-danger" ng-show="btnSaveClicked && form.matchPerson.$error.required">请选择人员
                    </div>
                  </div>
                  <div class="col-md-1">
                    <a href="" class="btn btn-primary" data-toggle="modal" ng-disabled="getMatchNameDisable()"   ng-click="searchObject()">查找</a>
                  </div>
                </div>

                <!--the third row-->
                <div class="form-group">
                  <label for="visitResult" class="col-md-1 control-label">回访结果</label>

                  <div class="col-md-4">
                    <select id="visitResult" name="visitResult" class="form-control"
                            ng-model="selectedMatch.visitResult"
                      >
                      <option value="还在进行">还在进行</option>
                      <option value="结束">结束</option>
                      <option value="成功">成功</option>
                    </select>
                  </div>
                  <label class="col-md-1 control-label">&nbsp;</label>

                  <div class="col-md-4">
                    &nbsp;
                  </div>
                </div>
                <!--the fourth row-->
                <div class="form-group">
                  <label for="visitRemark" class="col-md-1 control-label">回访情况</label>

                  <div class="col-md-9">
                  <textarea id="visitRemark" name="visitRemark" type="" class="form-control" rows="5"
                            ng-model="selectedMatch.visitRemark"> </textarea>
                  </div>


                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <!--data-dismiss="modal"-->
              <button type="button" ng-disabled="btnSaveClicked  || form.$invalid" class="btn btn-primary"
                      ng-click="doSave(form.$valid);">保存
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--弹出选择人员界面-->
    <div class="modal modal-wide fade" id="personModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×
            </button>
            <!--
            <h3 id="myModalLabel">
              <div>选择人员</div>
            </h3>-->
            <form action="" class="form-horizontal" role="searchPersonForm" name="searchPersonForm">
              <fieldset>
                <div class="form-group">
                  <label for="search" class="col-md-1 control-label">统一模糊查询</label>

                  <div class="input-group date eventTitle col-md-9">
                    <input class="form-control" size="16" type="text" ng-model="search" id="search" required/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="gender" class="col-md-1 control-label">性别</label>

                  <div class="col-md-4" id="gender">
                    <label data-ng-repeat="gender in genders">
                      &nbsp;<input type="checkbox" ng-model="genderSearch[gender.name]"/> {{gender.name}}
                    </label>
                  </div>

                  <label for="education" class="col-md-1 control-label">学历</label>

                  <div class="col-md-4" id="education">
                    <label data-ng-repeat="education in educations">
                      &nbsp;<input type="checkbox" ng-model="educationSearch[education.name]"/> {{education.name}}
                    </label>
                  </div>
                </div>


                <div class="form-group">
                  <label for="constellation" class="col-md-1 control-label">星座</label>

                  <div class="col-md-9" id="constellation">
                    <label data-ng-repeat="constellation in constellations">
                      &nbsp;<input type="checkbox" ng-model="constellationSearch[constellation.name]"/>
                      {{constellation.name}}
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="house" class="col-md-1 control-label">住房</label>

                  <div class="col-md-9" id="house">
                    <label data-ng-repeat="house in houses">
                      &nbsp;<input type="checkbox" ng-model="houseSearch[house.name]"/>
                      {{house.name}}
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="minAge" class="col-md-1 control-label">年龄范围</label>

                  <div class="col-md-4" id="minAge">
                    <input class="form-control" type="number" ng-model="minAge"/>
                  </div>

                  <label for="maxAge" class="col-md-1 control-label">至</label>

                  <div class="col-md-4" id="maxAge">
                    <input class="form-control" type="number" ng-model="maxAge"/>
                  </div>

                </div>

                <div class="form-group">
                  <label for="minSalary" class="col-md-1 control-label">年薪范围</label>

                  <div class="col-md-4" id="minSalary">
                    <input class="form-control" type="number" ng-model="minSalary"/>
                  </div>

                  <label for="maxSalary" class="col-md-1 control-label">至</label>

                  <div class="col-md-4" id="maxSalary">
                    <input class="form-control" type="number" ng-model="maxSalary"/>
                  </div>

                </div>

                <div class="form-group">
                  <label for="company" class="col-md-1 control-label">职业</label>

                  <div class="col-md-9">
                    <input class="form-control" size="16" type="text" ng-model="likeCompany" id="company" required/>
                  </div>
                </div>

                <div class="form-group">
                  <label for="marriedHis" class="col-md-1 control-label">婚史</label>

                  <div class="col-md-9">
                    <input class="form-control" size="16" type="text" ng-model="likeMarriedHis" id="marriedHis" required/>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-body">


            <div class="table-responsive">
              <table st-table="displayedPersonCollection" st-safe-src="persons" class="table table-striped table-hover">
                <thead>
                <tr>
                  <th st-sort="personName">姓名</th>
                  <th st-sort="matchTimes">已配对次数</th>
                  <th st-sort="gender">性别</th>
                  <th st-sort="birthDate">出生日期</th>
                  <th st-sort="age">年龄</th>
                  <th st-sort="constellation">星座</th>
                  <th st-sort="education">学历</th>
                  <th st-sort="salary">年薪(万)</th>
                  <th st-sort="house">住房</th>
                  <th st-sort="company">职业</th>
                  <th st-sort="marriedHis">婚史</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  ng-repeat="person in displayedPersonCollection  | filter:search | filter:{aliveFlag:'1'}
                    | filter:searchBy('education',educationSearch) | filter:searchBy('gender',genderSearch)|filter:searchBy('constellation',constellationSearch) |filter:searchBy('house',houseSearch)
                    | filter:greaterThan('age',minAge)| filter:lowerThan('age',maxAge)
                    | filter:greaterThan('salary',minSalary)| filter:lowerThan('salary',maxSalary)
                    | filter:likeSearch('company',likeCompany)| filter:likeSearch('marriedHis',likeMarriedHis)
                    |dateFilter:selectedMatch.matchDate:'startDate':'endDate'">
                  <td>{{person.name}}</td>
                  <td>{{person.matchTimes}}</td>
                  <td>{{person.gender}}</td>
                  <td>{{person.birthDate}}</td>
                  <td>{{person.age}}</td>
                  <td>{{person.constellation}}</td>
                  <td>{{person.education}}</td>
                  <td>{{person.salary}}</td>
                  <td>{{person.house}}</td>
                  <td>{{person.company}}</td>
                  <td>{{person.marriedHis}}</td>
                  <td>
                    <div class="controls">
                      <button class="btn btn-primary" ng-click="doSelect(person)">选择</button>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
