<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <!--
       <h1 class="page-header">人员查询</h1>
       <div class="row placeholders">
         <div class="col-xs-6 col-sm-3 placeholder">
           <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
           <h4>Label</h4>
           <span class="text-muted">Something else</span>
         </div>
         <div class="col-xs-6 col-sm-3 placeholder">
           <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
           <h4>Label</h4>
           <span class="text-muted">Something else</span>
         </div>
         <div class="col-xs-6 col-sm-3 placeholder">
           <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
           <h4>Label</h4>
           <span class="text-muted">Something else</span>
         </div>
         <div class="col-xs-6 col-sm-3 placeholder">
           <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
           <h4>Label</h4>
           <span class="text-muted">Something else</span>
         </div>
       </div>
     -->
  <!--
        <h2 class="sub-header">约会统计表</h2>
      -->
  <form class="form-horizontal">

    <fieldset>
      <div class="form-group">
        <label for="eventTitle" class="col-md-2 control-label">年龄</label>

        <div class="col-md-4">
          <input class="form-control" size="16" type="text" ng-model="name" id="eventTitle" required/>
        </div>

        <label for="eventTitle" class="col-md-2 control-label">性别</label>

        <div class="col-md-4">
          <select class="form-control" ng-model="gender">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>

        </div>
      </div>


      <div class="form-group">
        <label for="eventTitle" class="col-md-2 control-label">最小年龄</label>

        <div class="col-md-4">
          <input class="form-control" size="16" type="text" ng-model="minAge" id="minAge" required/>
        </div>

        <label for="eventTitle" class="col-md-2 control-label">最大年龄</label>

        <div class="col-md-4">
          <input class="form-control" size="16" type="text" ng-model="maxAge" id="maxAge" required/>
        </div>
      </div>
    </fieldset>
    <div class="modal-footer">
      <!--data-dismiss="modal"-->
      <button type="button" class="btn btn-primary">查询</button>
    </div>


  </form>


  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <!--
        <th>编号</th>
        <th>注册日期</th>
        <th>收费</th>
        -->
        <th>姓名</th>
        <th>出生年月</th>
        <th>身高</th>
        <th>学历</th>
        <th>户籍</th>
        <th>工作单位</th>
        <th>年薪(万)</th>
        <th>家庭情况</th>
        <th>住房</th>
        <th>联系电话</th>
        <th>择偶要求</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="person in persons  | filter:query | filter:{aliveFlag:'1'}">
        <td><input type="checkbox" value="{{person}}" ng-click="toggleSelection(person)"></td>
        <!--<td>{{person.id}}</td>
        <td>{{person.registerDate}}</td>
        <td>{{person.fee}}</td>
        -->
        <td>{{person.name}}</td>
        <td>{{person.birthDate}}</td>
        <td>{{person.height}}</td>
        <td>{{person.education}}</td>
        <td>{{person.census}}</td>
        <td>{{person.company}}</td>
        <td>{{person.salary}}</td>
        <td>{{person.family}}</td>
        <td>{{person.house}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.requirement}}</td>
        <td>
          <div class="controls">
            <button class="btn btn-primary" ng-click="addMatch('{{person}}');">加入配对</button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>

  </div>


</div>
